<%- include ('partials/header.ejs'); %>

<body>
    <div class="container">
        <div>
            <hr>
            <h2>Respostas</h2>
            <hr>
            <a href="/perguntas"><button class="btn btn-link" style="display: block; float: right;">Voltar</button></a>
            <br>
        </div>
    
        <br>
        <div class="card">
            <div class="card-header">
                <h5><%= pergunta.titulo %></h5>
                <p><%= pergunta.descricao %></p>
            </div>
        </div>  
    
        <% respostas.forEach(resposta => { %>

            <br>
            <div class="card">

                <div class="card-body">
                    <label><%= resposta.resposta %></label>
                    <br>
                </div>

                <div class="card-footer">
                    <p style="float: right; font-size: small;"> <%= resposta.createdAt %></p>
                </div>
            </div>

        <% }) %>
    </div>
</body>

<%- include ('partials/footer.ejs'); %>